* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 30px;
  color: #445161;
}

.wrapper {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hi {
  background-color: #445162;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.hi__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hi__body {
  padding: 50px 0;
  color: white;
}

.hi__title {
  font-size: 60px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  margin: 0 0 39px 0;
}

.hi__list {
  font-size: 20px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.hi__list li {
  margin: 0 0 17px;
  background: url("../img/hi__icon.png") left no-repeat;
  padding: 0 0 0 35px;
}

.hi__list li:last-child {
  margin: 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer__text {
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.3;
  color: #445162;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
}

.wtf {
  background-color: #fff;
}

.wtf__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 49px 0;
}

.wtf__image {
  margin: 0 39px 0 0;
}

.wtf__body {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}

.wtf__body p {
  margin: 0 0 36px 0;
}

.wtf__body p:last-child {
  margin: 0;
}

.wtf__title {
  margin: 0 0 36px 0;
}

.columns {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.columns__title {
  text-align: center;
  margin: 0px 0px 37px 0px;
}

.columns__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.columns__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 0px 30px 0px;
  padding: 0 0 0 16px;
}

.item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.columns__image {
  margin: 0 15px 0 0;
}

.columns__main {
  font-size: 24px;
  color: #445161;
  margin: 0 0 13px 0;
}

.columns__submain {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.column-3 {
  padding: 0;
}

.column-1 {
  padding: 0;
}

.vertical {
  padding: 50px 0;
}

.vertical__title {
  text-align: center;
  margin: 0 0 30px 0;
}

.vertical__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vertical__column {
  max-width: 300px;
  background-color: #445162;
  padding: 18px 0 20px 0;
  border: 1px solid #445162;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vertical__content-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vertical__submain {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  margin: 0 0 14px 0;
}

.vertical__main {
  text-align: center;
  font-size: 40px;
  color: #445162;
  background-color: #fff;
  padding: 20px 0;
}

.vertical__text {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 23px 18px;
}

.vertical__text p {
  margin: 0 0 35px;
}

.vertical__text p:last-child {
  margin: 0;
}

.vertical__btn {
  background-color: #fff;
  padding: 15px 0;
  display: block;
  height: 40px;
  text-align: center;
  margin: 0 20px;
  border-radius: 5px;
  font-size: 18px;
  color: #445161;
  font-weight: 700;
}

.container-1 {
  max-width: 992px;
}

.vertical__btn:hover {
  background-color: #445961;
  color: white;
  -webkit-box-shadow: 0px 0px 30px black;
          box-shadow: 0px 0px 30px black;
}